Mark Bussey <mark@curationexperts.com> mark-dce <mark@curationexperts.com>
Andrew Myers <andrew_myers@wgbh.org> afred <afredmyers@gmail.com>
Chris Beer <chris@cbeer.info> <chris@cbeer.info>
Chris Beer <chris@cbeer.info> <cabeer@stanford.edu>
Chris Beer <chris@cbeer.info> <chris_beer@wgbh.org>
Justin Coyne <justin@curationexperts.com> <justin.coyne@yourmediashelf.com>
Justin Coyne <justin@curationexperts.com> <digger250@gmail.com>
David Chandek-Stark <dchandekstark@gmail.com>
